<ion-header>
  <ion-toolbar>
    <ion-title class="title">
      Luật thi đấu Lạc Hồng Montreal 2023
    </ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content>
    <ion-slides [options]="slideOpts">
      <ion-slide>
            <img src="assets/images/Rule1.JPG" />
      </ion-slide>
      <ion-slide>
            <img src="assets/images/Rule2.JPG"/>
      </ion-slide>
      <ion-slide>
        <img src="assets/images/Rule3.JPG"/>
        </ion-slide>
      <ion-slide>
            <img src="assets/images/Rule4.JPG"/>
      </ion-slide>
      <ion-slide>
        <img src="assets/images/Rule5.JPG"/>
    </ion-slide>

  </ion-slides>
</ion-content>
