<ion-content [fullscreen]="true">
      <div class="group-container">
        <h2 class="group-heading">Danh sách đội bóng tham gia giải Lạc Hồng Montreal 2023</h2>
        <ion-list>
          <ion-item *ngFor="let team of listTeams;let i = index" class="team-item"  (click)="loadTeamInfo(team.name)">
            <div class="team-name">#{{ i + 1 }}</div>
            <div class="team-name">{{ team.name }}</div>
            <img [src]="getTeamImageStyle(team.name)" class="team-image">
          </ion-item>
        </ion-list>
      </div>
</ion-content>
